.inicio {
  width: 100%;
  height: auto;
}
div.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
  text-align: center;
}
.title img{
  width: auto;
  height: 50px;
  object-fit: cover;
  cursor: pointer;
}
.title h1 {
  text-align: center;
  font-size: 3em;
  color: white;
}
.title i {
  font-size: 2em;
  color: white;
  cursor: pointer;
}


@media (min-width: 480px) {
  .title h1 {
    font-size: 4.5em;
  }
  .title i {
    font-size: 3em;
  }
}
@media (min-width: 601px) {
  .title h1 {
    font-size: 5.5em;
  }
  .title i {
    font-size: 4em;
  }
}
@media (min-width: 801px) {
  .title h1 {
    padding: 0 1em;
  }
  .title img{
    height: 100px;
  }
}
@media (min-width: 1025px) {
  .title h1 {
    font-size: 6em;
    padding: 0 1.5em;
  }
  .title i{
    font-size: 5em;
  }
}
@media (min-width: 1281px) {
  .title h1 {
    font-size: 8em;
  }
  .title i {
    font-size: 5em;
  }
}
