.calendar-container {
  width: 100%;
  height: auto;
  text-align: center;
  color: white;
  padding: 5%;
  margin: 1% 0;
}
.nav-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-buttons button {
  padding: 0.5em;
  border-radius: 1.5rem;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  cursor: pointer;
}
.nav-buttons button,
.nav-buttons h3 {
  font-size: 1.2em;
  text-align: center;
  color: white;
}
.info{
  display: flex;
  justify-content: space-between;
  margin-top: 1.5em;
  font-size: 1em;
  color: white;
  text-align: center;
  border: 1px solid white;
}
.info p.reserved-info{
  width: 50%;
  background-color: rgb(84, 51, 146);
}
.info p.today-info{
  width: 50%;
  padding-right: 1em;
  background-color: #0d0130;
}
table.calendar {
  border-collapse: collapse;
  display: inline-block;
  padding-top: 5%;
}
tr {
  display: inline-flex;
}
.calendar thead tr th {
  border: 1px solid gray;
  color: white;
  background-color: transparent;
  font-size: 1.23em;
}
.calendar td{
  color: white;
  border: 1px solid white;
  text-align: start;
  padding: .5em;
  font-size: 1.2em;
}
.calendar td.today {
  background-color: #0d0130;
}
td.reserved{
  background-color: rgb(84, 51, 146);
  color: white;
}
.empty{
  background-color: transparent;
}
@media screen and (min-width: 480px) {
  div.calendar {
    padding: 1.5em;
    font-size: 1.35em;
  }
}
@media screen and (min-width: 600px) {
  .calendar {
    font-size: 1.35em;
  }
  .nav-buttons h3 {
    font-size: 2em;
  }
}
@media screen and (min-width: 801px) {
  .calendar {
    font-size: 1.8em;
  }
  .navButtons {
    font-size: larger;
  }
}
@media (min-width: 1025px) {
  .calendar {
    font-size: 2.5em;
  }
  .nav-buttons {
    font-size: 1.5em;
  }
  .info p{
    font-size: 1.5em;
  }
}
@media (min-width: 1281px) {
  .calendar {
    font-size: 3em;
  }
  .allCalendar {
    padding: 0 10%;
  }
  .nav-buttons h3 {
    font-size: 4em;
  }
}
