.description {
  width: 100%;
  height: auto;
  padding-top: 10%;
}
.left {
  display: none;
}
.left img {
  object-fit: cover;
}
.right h1 {
  color: white;
  margin-bottom: .5em;
  text-align: center;
  font-size: 2em;
  text-transform: uppercase;
}
.right p {
  color: black;
  font-weight: 600;
  color: white;
  background-color: transparent;
  padding: 5%;
  text-align: center;
  border-radius: 0.5rem;
}
@media screen and (min-width: 600px) {
  .description {
    margin: 0 1em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  div.left {
    display: flex;
    width: 100%;
    height: 800px;
    grid-column: 1;
  }
  .right {
    grid-column: 2;
  }
}
@media screen and (min-width: 1025px) {
  .right  {
    font-size: 1.3em;
  }
  .description{
    padding:10%;
  }
  div.right{
    margin-left: 3em;
  }
}
@media screen and (min-width: 1281px) {
  .right p {
    font-size: 1.5em;
  }
}
