.localiation {
  width: 100%;
  height: auto;
  margin-top:3em;
}
.info h2 {
  color: white;
  text-align: center;
  font-size: 2em;
  text-transform: uppercase;
}
iframe {
  padding: 10%;
  width: 600px;
  height: 350px;
  border-radius: 1.5rem;
}
.maps {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width:801px){
  .info h2{
    font-size: 3em;
  }
  iframe{
    width: 100%;
    height: 700px;
  }
}
@media (min-width:1281px){
  .localiation{
    margin: auto 3%;
  }
}
