.md-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  max-width: 630px;
  min-width: 320px;
  height: auto;
  z-index: 2000;
  visibility: hidden;
  backface-visibility: hidden;
  transform: translateX(-50%) translateY(-50%);
}

.md-show {
  visibility: visible;
}

.md-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  background: black;
  transition: all 0.3s;
}

/* Overlay visibile */
.md-show ~ .md-overlay {
  opacity: 1;
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.8);
}

.md-show.md-effect ~ .md-overlay {
  background-color: rgba(0, 0, 0, 0.8);
}

div.md-effect > div.md-content {
  transform: rotate(720deg);
  opacity: 0;
  transition: all 1.5s;
}
div.md-show.md-effect > div.md-content {
  transform: rotate(180deg);
  opacity: 1;
  transition: all 1.5s;
}

/* content styles */
.md-content {
  color: #fff;
  position: relative;
  border-radius: 0.5rem;
  margin: 0 auto;
}
.md-content.danger {
  background: #861d12;
}
.md-content.success {
  background: #007f6c;
}
.md-content h3 {
  margin: 0;
  padding: 0.2em 2em;
  text-transform: uppercase;
  text-align: center;
  font-size: 2.4em;
  font-weight: 300;
  opacity: 0.8;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 3px 3px 0 0;
}

.md-content > div {
  padding: 15px 40px 30px;
  margin: 0;
  font-weight: 300;
  font-size: 1.15rem;
}

.md-content > div p {
  margin: 0;
  padding: 10px 0;
  text-align: center;
}
.md-content button {
  display: block;
  margin: 0 auto;
  padding: 0.6em 1.2em;
  font-family: "Lato", sans-serif;
  font-size: 1em;
  letter-spacing: 1px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 2em;
}

.md-content.danger button {
  background: #ffffff;
  color: black;
}
.md-content.danger button:hover {
  background: #a5281b;
}
.md-content.success button {
  background: #00584b;
}
.md-content.success button:hover {
  background: #003f3b;
}
